%clearfix {
	&:after {
	content:"";
	display:table;
	clear:both;
	}
}

//grid
.row {
@extend %clearfix;
max-width:960px;
margin:0 auto;
}

.col {
float:left;
width:auto;
padding:0 0.83333rem;  

	&-right {
	float:right;
	text-align:right;
	}

	&-center {
	float:none;
	margin:0 auto;
	}

	& p {
	margin-top:0;
	padding-top:0;
	}

	//tens
	&-100 {
	width:100%;
	}

	&-90 {
	width:90%;
	}

	&-80 {
	width:80%;
	}

	&-70 {
	width:70%;
	}

	&-60 {
	width:60%;
	}

	&-50 {
	width:50%;
	}

	&-40 {
	width:40%;
	}

	&-30 {
	width:30%;
	}

	&-20 {
	width:20%;
	}

	&-10 {
	width:10%;
	}

	//thirds
	&-66 {
	width:66.6666%;
	}
	
	&-33 {
	width:33.3333%;
	}

	//quarters
	&-75 {
	width:75%;
	}

	&-25 {
	width:25%;
	}
}